@model WebAPILab.Models.HomeViewModel

<div class="dbresultstable-container-customers">
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>CustomerId</td>
                <td>Email</td>
                <td>Mobile</td>
                <td>TransactionCount</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Customers)
            {
                <tr>
                    <td>@item.CustomerName</td>
                    <td>@item.CustomerId</td>
                    <td>@item.CustomerEmail</td>
                    <td>@item.MobileNo</td>
                    <td>@item.TransactionIds</td>
                </tr>
            }
            </tbody>
    </table>
</div>